<div class="mt-4">
    <div class="card border shadow-none mb-2">
        <div class="p-2">
            <div class="d-flex">
                <div class="overflow-hidden me-auto">
                    <h5 class="font-size-13 text-truncate mb-1">Secret Key</h5>
                    <p class="text-muted mb-0">{{ Application.secret_key }}</p>
                </div>
            </div>
            
            <div class="row mt-2">
                <div class="col-sm-12 col-12">
                    <form id="form-application-create-new-secret-key">
                        {% csrf_token %}
            
                        {{ FormSecretKey.external_id }}
                        {{ FormSecretKey.secret_key }}
            
                        <button class="btn btn-sm w-100 btn-outline-info waves-effect waves-light btn-save" type="submit">
                            Create New API Secret Key
                        </button>
                    </form>
                </div>
            
                <div class="col-sm-12 col-12 mt-2">
                    <button class="btn btn-sm w-100 btn-outline-info waves-effect waves-light" type="button">
                        <i class="bx bx-notepad font-size-16 align-middle text-primary me-1"></i>
                        API Documentation
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row mb-3 mt-4">
    <div class="col-sm-12 col-12">
        <div class="mt-2">
            <h6>Application Secret Key API</h6>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card shadow-none border">
            <div class="card-body p-3">
                <div class="">
                    <hr>
                    <h5 class="text-center">
                        <strong>
                            <i>{{ Application.secret_key }}</i>
                        </strong>
                    </h5>
                    <hr>

                    <div class="row">
                        <div class="col-sm-12 col-12">
                            <form id="form-application-create-new-secret-key">
                                {% csrf_token %}

                                {{ FormSecretKey.external_id }}
                                {{ FormSecretKey.secret_key }}

                                <button class="btn btn-sm w-100 btn-outline-info waves-effect waves-light btn-save" type="submit">
                                    Create New API Secret Key
                                </button>
                            </form>
                        </div>

                        <div class="col-sm-12 col-12 mt-2">
                            <button class="btn btn-sm w-100 btn-outline-info waves-effect waves-light" type="button">
                                <i class="bx bx-notepad font-size-16 align-middle text-primary me-1"></i>
                                API Documentation
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<script>
    xpost(
        "form-application-create-new-secret-key",
        "{% url 'applications:secret-key' app_exid=Application.external_id %}",
        function(response) {
            if (response.is_success) {
                console.log(response.message)
                xload("ajax-application-secret-key-api", "{% url 'applications:secret-key' app_exid=Application.external_id %}")
                // xload("menu", "")
                message = alert_message("success", "Message", response.message, "<br /> API Secrete Key Created")
            } else {
                console.log(response.message)
                message = alert_message("danger", "Whoops", response.message)
            }
            $("#message-application-secret-key").html(message)
        }
    )
</script>