<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-apps">Main</li>

                <!-- <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-message-square"></i>
                        <span key="t-dashboards">Dashboard</span>
                    </a>
                </li> -->

                <li>
                    <a href="{% url 'applications:index' %}" class="waves-effect">
                        <i class="bx bx-table "></i>
                        <span key="t-dashboards">Applications</span>
                    </a>

                    <!-- <ul class="sub-menu" aria-expanded="false">
                        <li><a href="javascript:void(0)" key="t-categories">Categories</a></li>
                        <li><a href="javascript:void(0)" key="t-foundsSource">Funds Source</a></li>
                        <li><a href="javascript:void(0)" key="t-transactoions">Transactions</a></li>
                    </ul> -->
                </li>

                <li class="menu-title" key="t-apps">Settings</li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-message-square"></i>
                        <span key="t-dashboards">User Management</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-message-square"></i>
                        <span key="t-dashboards">My Profile</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-message-square"></i>
                        <span key="t-dashboards">About Us</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>